@import "./global";
body {
  background-color: #f8f8f8;
}
hr {
  height: 2px;
  background-color: #e6e6e6;
  opacity: 1;
}
// header bg
.header-bg {
  background: rgb(125, 221, 194);
}
// header navbar
header {
  .nav {
    position: absolute;
    right: 10%;
    transform: translateX(10%);
    top: 20px;
    ul {
      background-color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      padding: 0px 15px;
    }

    &-link {
      text-decoration: none;
      padding: 14px 10px;
      font-size: 14px;
      color: #111 !important;
    }
  }
  .navbar {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100vw;
    .nav-link {
      @media screen and(min-width:992px) {
        margin: 0 7px;
      }
      @media screen and(max-width:992px) {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      }
    }
    .offcanvas {
      @media screen and(max-width:992px) {
        min-height: 100vh;
        background: rgba(255, 255, 255, 0.705);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(7px);
        border: 1px solid rgba(255, 255, 255, 0.431);
        .nav-link {
          // color: white !important;
        }
      }
    }
  }
  // mobile search-list
  .mobile-search-list {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    z-index: 10000;
    header {
      display: grid;
      grid-template-columns: 50px auto;
      border-bottom: 1px solid rgb(180, 180, 180);
    }
    main {
      ul {
        li {
          border-bottom: 1px solid #f0f0f0;
          padding: 10px 5px;
          img {
            height: 50px;
          }
        }
      }
    }
  }
}
// hero section
.hero {
  background: url(../assets/images/hero-bg.png) center center / cover no-repeat;
  // filter: grayscale(3px);
  padding: 100px 30px 30px;
  border-bottom: 3px solid #7dddc2;
  min-height: 600px;
  .form-container {
    max-width: 100%;
    width: 400px;
    background-color: white;
    border-radius: 3%;
    // overflow: hidden;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    header {
      font-weight: 600;
      .btn {
        padding: 10px;
        border-radius: 0;
        color: white;
        &-active {
          background: rgba(255, 255, 255, 0.192);
        }
      }
    }
    main {
      padding: 20px;
      input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        background: url(../assets/images/calendar2-plus.svg) no-repeat;
        position: relative;
        top: 4px;
      }
      input[type="time"]::-webkit-calendar-picker-indicator {
        opacity: 1;
        background: url(../assets/images/clock-history.svg) no-repeat;
        position: relative;
        top: 4px;
      }
      .form-control,
      .form-select {
        &:focus {
          box-shadow: none;
        }

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: white;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: white;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: white;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: white;
        }
      }
      .date {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
      .time {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
    }
    .form-control,
    .form-select {
      background: rgba(255, 255, 255, 0.192);
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff !important;
      }
      color: white;
      &:focus {
        border: 1px solid rgba(255, 255, 255, 0.6);
        background: rgba(255, 255, 255, 0.308);
      }
    }

    // .form-select option {
    //   &:focus {
    //     border-color: rgba(255, 255, 255, 0.308);
    //     color: $primary-color;
    //     // color: black;
    //   }
    // }

    .form-select {
      // padding: 0;
      option {
        padding: 0;
        margin: 40px;
        // background: $primary-color;
        color: $primary-color;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
        &:hover {
          background: $primary-color;
        }
      }
    }
    .glass-btn {
      border: 1px solid #ced4da;
      // width: 90%;
    }
  }
  .desktop-product-search-list {
    position: absolute;
    top: 90px;
    left: -20px;
    background-color: white;
    z-index: 1000;
    width: calc(100% + 40px);
    padding: 20px;
    border-radius: 20px;
    height: 200px;
    overflow-y: scroll;
  }
}
.whyus {
  background-color: #e5caf2;
  padding: 30px 0;
  color: rgb(0, 0, 0);
}

.brands {
  .swiper {
    &-slide {
      flex-direction: column;
    }
  }
}
// popular-services
.top-saloon,
.popular-services {
  .container {
    position: relative;
    padding: 0 30px;
    .swiper-button-next,
    .swiper-button-prev {
      width: 10px;
      &:after {
        font-size: 20px;
        color: black;
      }
    }
  }

  .card {
    &-header {
      border: 0;
      padding: 0;
      overflow: hidden;
      img {
        transition: transform 0.3s ease-in-out;
      }
      &:hover {
        img {
          transform: scale(1.25);
        }
      }
    }
  }
}
// top saloons
.top-saloon {
  .card {
    // background: rgba(255, 255, 255, 0.438);
    // border-radius: 16px;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(7px);
    // -webkit-backdrop-filter: blur(7px);
    // border: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.serviceslist {
  .swiper {
    position: relative;
    .title {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: -1px;
      padding: 85% 5px 6px 5px;
      background: -moz-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.6) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.6) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.6) 100%
      );
      color: #fff;
      font-size: 0.85rem;
      line-height: 1rem;
      font-weight: 600;
      text-align: start;
      margin-bottom: 0;
    }
    a {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

//  product list
.productlist {
}
.insights {
  &-swiper {
    a {
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
// subscribe
.subscribe {
  // background-color: $primary-color-light;
  padding: 30px 0 70px 0;
  position: relative;
  // svg {
  //   fill: #d7e6f5 !important;
  //   position: absolute;
  //   top: -40px;
  //   left: 0;
  //   width: 100%;
  //   min-height: 40px;
  //   //     transform: rotate(180deg);
  // }
}
// footer
.footer {
  //   margin-top: 100px;
  background-color: $primary-color;
  background-image: url("../assets/images/footer-bg.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 15px 0;
  header {
    padding: 12px;
    position: relative;
  }
  main {
    // padding: 36px 24px 24px;
  }
  &-link {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
  .social-links {
    position: relative;
    left: -8px;
    svg {
      width: 36px;
      fill: white;
    }
  }
  .dropdown-menu {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .dropdown-item {
    color: white;
    &:hover {
      background: rgba(255, 255, 255, 0.308);
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  &-slide {
    font-size: 18px;
    & > div {
      background: rgb(255, 255, 255);
      border-radius: 10px;
    }
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  }
}
